.userList {
    width      : 100%;
    padding-top: 20px;
    overflow-x : hidden;
}

.userList img {
    object-fit   : cover;
    margin-right : 20px;
    width        : 50px;
    height       : 50px;
    border-radius: 50%;
}

.item {
    cursor     : pointer;
    padding    : 10px 5px;
    display    : flex;
    align-items: center;
}

.item:hover {
    background-color: blueviolet;
}

.username {
    color    : #fff;
    font-size: 16px;
}

.lastMessage {
    color    : #fff;
    font-size: 14px;
}