@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
  letter-spacing: 0em;
}

body {
  background-color: #985ACE;
}

.ChatContainer {
  display: flex;
  margin: 100px auto;
  max-width: fit-content;
  max-height: 710px;
  height: 600px;
  border-radius: 9px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: #701cba;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  overflow-y: auto;
}
.side-bar::-webkit-scrollbar {
  width: 6px;
}
.side-bar::-webkit-scrollbar-track {
  border-radius: 10px;
}
.side-bar::-webkit-scrollbar-thumb {
  background: #935cd3;
  border-radius: 10px;
  height: 5px;
}
.side-bar__search-input {
  width: 290px;
  margin-top: 20px;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  border-bottom: 2px #8810f0 solid;
  outline: none;
}
.side-bar__search-input::placeholder {
  color: #fff;
}

.chat {
  width: 630px;
  max-width: 638px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.chat .modalIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 540px;
  font-size: 40px;
  color: #bab6bd;
}
.chat__header {
  font-size: 20px;
  color: #fff;
}
.chat__head {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #793bc4;
  height: 60px;
  border-top-right-radius: 9px;
}
.chat__send-message-field {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: #fff;
}
.chat__send-message-field input[type=file] {
  display: none;
}
.chat__send-message-field textarea {
  border: none;
  outline: none;
  resize: none;
  width: 520px;
  height: 30px;
  font-size: 16px;
}
.chat__send-img-btn {
  cursor: pointer;
  background: url("../public/images/upload-image-icon.svg");
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.chat__btn-container *:not(:last-child) {
  margin-right: 20px;
}
.chat__primary-btn {
  cursor: pointer;
  border-radius: 7px;
  color: white;
  border: none;
  background-color: #62309e;
  width: 60px;
  height: 35px;
  font-size: 15px;
}
.chat__primary-btn:disabled {
  background-color: #72509c;
}
.chat .avatarImg {
  object-fit: cover;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat .messagesContainer {
  position: relative;
  background-color: #e6e7e7;
  display: flex;
  flex-direction: column;
  height: 495px;
  padding: 4px;
  overflow-y: scroll;
  /* Handle */
}
.chat .messagesContainer__button-wrapper {
  position: absolute;
  left: 93%;
  top: 90%;
}
.chat .messagesContainer__get-down-btn {
  position: fixed;
  z-index: 2;
  background-image: url("../public/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat .messagesContainer__get-down-btn._IsVisible {
  visibility: visible;
  pointer-events: all;
}
.chat .messagesContainer__get-down-btn._IsNotVisible {
  visibility: hidden;
  pointer-events: none;
}
.chat .messagesContainer img {
  width: 50%;
}
.chat .messagesContainer .Message {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}
.chat .messagesContainer .Message.ready-to-be-deleted {
  background-color: #b2b9b9;
}
.chat .messagesContainer .Message.owner {
  flex-direction: row-reverse;
}
.chat .messagesContainer .Message.owner .Message__content {
  align-items: flex-end;
}
.chat .messagesContainer .Message.owner .Message__content div {
  background-color: #d0d0d0;
  border-radius: 4px 0px 4px 4px;
}
.chat .messagesContainer .Message__info {
  display: flex;
  flex-direction: column;
}
.chat .messagesContainer .Message__info img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat .messagesContainer .Message__content {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  gap: 10px;
}
.chat .messagesContainer .Message__content div {
  overflow-wrap: anywhere;
  text-align: justify;
  padding: 10px 20px;
  border-radius: 0 4px 4px 4px;
  max-width: max-content;
  background-color: #fff;
}
.chat .messagesContainer::-webkit-scrollbar {
  width: 7px;
}
.chat .messagesContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}
.chat .messagesContainer::-webkit-scrollbar-thumb {
  background: rgba(141, 112, 174, 0.751);
  border-radius: 10px;
  height: 5px;
}

/*# sourceMappingURL=App.css.map */
