@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
  letter-spacing: 0em;
}

body {
  background-color: #985ACE;
}

.ChatContainer {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1000px;
  max-height: 710px;
  height: 600px;
  border-radius: 9px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  background-color: #701cba;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  overflow-y: auto;
  /* Track */
  /* Handle */
}
.side-bar::-webkit-scrollbar {
  width: 6px;
}
.side-bar::-webkit-scrollbar-track {
  border-radius: 10px;
}
.side-bar::-webkit-scrollbar-thumb {
  background: #935cd3;
  border-radius: 10px;
  height: 5px;
}
.side-bar__search-input {
  width: 290px;
  margin-top: 20px;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  border-bottom: 2px #8810f0 solid;
  outline: none;
}
.side-bar__search-input::placeholder {
  color: #fff;
}

.chat {
  width: 600px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.chat__header {
  font-size: 20px;
  color: #fff;
}
.chat__head {
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #793bc4;
  height: 60px;
  border-top-right-radius: 9px;
}
.chat__send-message-field {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: #fff;
}
.chat__send-message-field textarea {
  border: none;
  outline: none;
  resize: none;
  width: 520px;
  height: 30px;
  font-size: 16px;
}
.chat__primary-btn {
  cursor: pointer;
  border-radius: 7px;
  color: white;
  border: none;
  background-color: #72509c;
  width: 60px;
  height: 35px;
  font-size: 15px;
}

.avatarImg {
  object-fit: cover;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.messagesContainer {
  background-color: #e6e7e7;
  display: flex;
  flex-direction: column;
  height: 495px;
  padding: 4px;
  overflow-y: scroll;
  /* Track */
  /* Handle */
}
.messagesContainer img {
  width: 50%;
}
.messagesContainer .Message {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}
.messagesContainer .Message.owner {
  flex-direction: row-reverse;
}
.messagesContainer .Message.owner .Message__content {
  align-items: flex-end;
}
.messagesContainer .Message.owner p {
  background-color: #b3b1b1;
  border-radius: 4px 0px 4px 4px;
}
.messagesContainer .Message__info {
  display: flex;
  flex-direction: column;
}
.messagesContainer .Message__info img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.messagesContainer .Message__content {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  gap: 10px;
}
.messagesContainer .Message__content p {
  padding: 10px 20px;
  border-radius: 0 4px 4px 4px;
  max-width: max-content;
  background-color: #fff;
}
.messagesContainer::-webkit-scrollbar {
  width: 7px;
}
.messagesContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}
.messagesContainer::-webkit-scrollbar-thumb {
  background: rgba(141, 112, 174, 0.751);
  border-radius: 10px;
  height: 5px;
}

/*# sourceMappingURL=App.css.map */
